<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인 | TODO</title>
</head>
<body>
<h2>로그인</h2>
<form action="" th:action th:object="${loginDto}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div>
        <label for="email">이메일</label>
        <input type="text" th:field="*{email}">
        <p th:errors="*{email}"/>
    </div>

    <div>
        <label for="password">비밀번호</label>
        <input type="password" th:field="*{password}">
        <p th:errors="*{password}"/>
    </div>

    <hr>

    <div>
        <button type="submit">로그인</button>
        <butto
                onclick="location.href='index.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">취소
        </butto>
    </div>
</form>
</body>
</html>